@font-face {
  font-family: Ubuntu;
  src: url('../src/assets/fonts/Ubuntu-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Ubuntu;
  src: url('../src/assets/fonts/Ubuntu-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Ubuntu;
  src: url('../src/assets/fonts/Ubuntu-Bold.ttf');
  font-style: bold;
  font-weight: 700;
}

:root {
  /* primary colours */
  --clr-marineBlue: hsl(213, 96%, 18%);
  --clr-purplishBlue: hsl(243, 100%, 62%);
  --clr-pastelBlue: hsl(228, 100%, 84%);
  --clr-lightBlue: hsl(206, 94%, 87%);
  --clr-strawberryRed: hsl(354, 84%, 57%);
  /* neutral colours */
  --clr-coolGray: hsl(231, 11%, 63%);
  --clr-lightGray: hsl(229, 24%, 87%);
  --clr-magnolia: hsl(217, 100%, 97%);
  --clr-alabaster: hsl(231, 100%, 99%);
  --clr-white: hsl(0, 0%, 100%);
  
  /* elements variables */
  --clr-bg-primary: hsl(217, 100%, 97%);
  --clr-bg-secondary: hsl(231, 100%, 99%);
  --clr-bg-form: hsl(0, 0%, 100%);
  --clr-bg-submitButton: hsl(213, 96%, 18%);
  --clr-bg-submitButton-hover: hsl(213, 89%, 28%);
  
  --clr-border-selected: hsl(243, 100%, 62%);
  --clr-border-input: hsl(229, 24%, 87%);
  --clr-border-activeElement-hover: hsl(243, 100%, 62%);

  --clr-font-primary: hsl(213, 96%, 18%);
  --clr-font-secondary: hsl(231, 11%, 63%);
  --clr-font-tertiary: hsl(231, 100%, 99%);

  --clr-invalid: hsl(354, 84%, 57%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}